<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-body">
        <div style="display: inline-block; width: 100%">
            <label class="label label-success" for="txtSistema">Equazione da applicare:</label>
            <input id="txtSistema"
                   style="width: 100%"
                   placeholder="[0] + 1"
                   ng-model="$dataService.equazione">
        </div>

        <button class="btn btn-success"
                style="margin-top: 10px"
                ng-click="applicaEquazione_click()">Applica equazione</button>

    </div>
</div>

<table class="table table-striped"
       ng-if="$dataService.estrazioni !== null">
    <tbody>
    <tr>
        <!--colspan="20"-->
        <th>Estrazione</th>
        <th>Numeri</th>
        <th>Oro</th>
    </tr>
    <tr class="row_numeri"
        ng-repeat="estr in $dataService.estrGiornaliera.estrazioni track by $index">
        <td>{{estr.estr}} - {{toOrario(estr.estr)}}</td>
        <td>
            <div ng-repeat="num in estr.numeri track by $index"
                 class="numero-previsione"
                 ng-class="{usatoPerPrevisione: num.isUsatoXPrevisione}">
                {{num.num}}
            </div>
            <div class="risEquazione"> <!-- spazio colorato di verde -->
                <div ng-repeat="num in estr.numeri track by $index"
                     class="numero-previsione"
                     ng-if="num.previsione != null">

                    <div ng-if="num.numConvertito == null"
                        ng-class="{
                        previsioneUscita: num.isPrevisioneUscita,
                        previsioneNonUscita: !num.isPrevisioneUscita && num.previsione != '-',
                        alzaNumero: num.distanzaUscita == -1}"
                        style="height: 100%" >
                        {{num.previsione}}
                    </div>

                    <div ng-if="num.numConvertito != null"
                         ng-class="{
                        previsioneUscita: num.isPrevisioneUscita,
                        previsioneNonUscita: !num.isPrevisioneUscita && num.previsione != '-',
                        alzaNumero: num.distanzaUscita == -1}"
                         style="height: 100%;" >
                        {{num.numConvertito }}
                    </div>

                    <div ng-if="num.numConvertito != null"
                         class="numConvertito">
                        {{'(' + num.previsione + ')'}}
                    </div>

                    <div ng-if="num.distanzaUscita > -1"
                         class="distanza-uscita">
                        {{'+' + num.distanzaUscita}}
                    </div>

                    <!--<div ng-if="num.distanzaUscita == -1">-->
                        <!--&nbsp;-->
                    <!--</div>-->

                </div>
            </div>
        </td>
        <td class="col_oro">{{estr.oro}}</td>
    </tr>
    </tbody>
</table>

<div ng-if="$dataService.estrazioni == null">
    Nessuna estrazione caricata
</div>